
div.statistics {
	font-family: sans-serif;
}
div.statistics table {
	border-collapse: collapse;
	border-spacing: 0;
}	
div.statistics tr:nth-child(even){
	background-color: #f2f2f2;
}
div.statistics td, div.statistics th {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: bottom;
	border: 1px solid #ddd;
}
div.statistics th {
	text-align: center;
	background-color: #4CAF50;
	color: white;
}
div.statistics td {
	text-align: right;
}

td {
	vertical-align: top;
}
.pb {
	display: block;
	text-align: center;
}
.i {
	font-style: italic;
}
.b {
	font-weight: bold;
}
.center {
	text-align: center;
}
		
span.bibl-type {
	color: darkmagenta;
}

span.seg {
	background-color: lavenderblush;
}

div {
	margin: 0.25em;
	padding: 0.25em;
	border-color: grey;
	border-style: dotted;
	border-width: 1px;
}
div.bibl {
	background-color: #E3E3E3;
}
div.bibl div.bibl {
	background-color: #C4C4C4;
}
.author {
	background-color: #FF9D00; /* orange */
}
.title {
	background-color: #8BC9FF; /* pale blue */
}
.date {
	background-color: #F47BA8; /* pink */
}
.biblScope {
	background-color: #7BF4A7; /* greenish blue */
}
.extent {
	background-color: #C0A9FF; /* violet */
}
.pubPlace {
	background-color: #18FF00; /* bright green */
}
.publisher {
	background-color: #855EF6; /* purple */
}
.ref {
	background-color: #93FF00; /* yellowish green */
}
.year {
	background-color: #ABFFD5;
}
.measure {
	background-color: yellow;
}
.abbr {
	text-decoration: underline;
}
div.note {
	background-color: #FFFF8E;
}
span {
	padding: 2pt;
	margin: 2pt;
}	
a.permalink {
	text-decoration: none;
	color: blue;
}

